<!-- <div class="spinner-container" *ngIf="items?.length === 0">
    <mat-spinner></mat-spinner>
</div> -->

<!-- <table mat-table matSort matSortActive="username" matSortDirection="{{sortDirection}}" matSortDisableClear>
    <tr>
        <th mat-sort-header="username">username</th>
      </tr>
    
      <tr *ngFor="let item of collections.items">
        <td>{{item.username}}</td>
      </tr>
</table> -->
<table matSort matSortActive="contributions" matSortDirection="desc" (matSortChange)="sortData($event)">
    <thead>
    <tr>
      <!-- <th>Avatar</th> -->
      <th>Username</th>
      <th mat-sort-header="contributions">Contributions</th>
      <th mat-sort-header="repoCount">Public repos</th>
      <th mat-sort-header="followers">Followers</th>
      <th mat-sort-header="gists">Gists</th>
    </tr>
  </thead>
    <tbody *ngIf="collection && collection.items && collection.items.length else spinner">
      <tr *ngFor="let item of collection?.items">
        <!-- <td><img [src]="item.avatarUrl" height="50"/></td> -->
        <td><button color="accent" (click)="onClicked(item)" mat-raised-button>{{item.username}}</button></td>
        <td>{{item.contributions}}</td>
        <td>{{item.repoCount == null ? '?' : item.repoCount}}</td>
        <td>{{item.followers == null ? '?' : item.followers}}</td>
        <td>{{item.gists == null ? '?' : item.gists}}</td>
      </tr>
    </tbody>
</table>
  <ng-template #spinner>
    <mat-spinner></mat-spinner>
  </ng-template>
